<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TemplateMapper">


    <sql id="baseRecord">
        id,
        business_id as businessId,
        file_name as fileName,
        file_format as fileFormat,
        status,
        file_size as fileSize,
            remark,
        create_user as createUser,
        create_user_id as createUserId,
        create_time as createTime,
        update_user as updateUser,
        update_user_id as updateUserId,
        update_time as updateTime
    </sql>

    <insert id="insertRecord" parameterType="pd" useGeneratedKeys="true" keyProperty="id">
        insert into sys_knowledge_base(file_name,file_format,status,file_size,remark,
          business_id,create_user, create_user_id, create_time, update_user, update_user_id, update_time)
        values(#{fileName},#{fileFormat},#{status},#{fileSize},#{remark},#{businessId},
               #{createUser}, #{createUserId}, getDate(), #{createUser}, #{createUserId},getDate()
        )
    </insert>

    <select id="queryRecordByParams" parameterType="pd" resultType="pd">
        select
        <include refid="baseRecord"></include>
        from sys_knowledge_base
        <where>
            <if test="fileName!=null and fileName!=''">
                and file_name LIKE concat('%',#{fileName},'%')
            </if>
            <if test="fileFormat!=null and fileFormat!=''">
                and file_format LIKE concat('%',#{fileFormat},'%')
            </if>
            <if test="status!=null and status!=''">
                and status = #{status}
            </if>
            <if test="remark!=null and remark!=''">
                and remark LIKE concat('%',#{remark},'%')
            </if>
            <if test="createUserName!=null and createUserName!=''">
                and create_user LIKE concat('%',#{createUserName},'%')
            </if>
            <if test="updateUser!=null and updateUser!=''">
                and update_user LIKE concat('%',#{updateUser},'%')
            </if>
            <if test="createTime!=null and createTime!=''">
                and convert(varchar,create_time,120) LIKE concat('%',#{createTime},'%')
            </if>
            <if test="updateTime!=null and updateTime!=''">
                and convert(varchar,update_time,120) LIKE concat('%',#{updateTime},'%')
            </if>
        </where>
        ORDER BY update_time DESC;
    </select>


    <select id="queryOneRecord" parameterType="pd" resultType="pd">
        select
        <include refid="baseRecord"></include>
        from sys_knowledge_base
        where business_id = #{businessId}
    </select>


    <update id="updateRecord" parameterType="pd">
        update sys_knowledge_base
        set file_name = #{fileName},
            file_format = #{fileFormat},
            status = #{status},
            file_size = #{fileSize},
            remark = #{remark},
            update_user    = #{createUser},
            update_user_id = #{createUserId},
            update_time    = getdate()
        where business_id = #{businessId}
    </update>



    <delete id="bacthDeleteRecord" parameterType="java.util.List">
        delete from sys_knowledge_base
        where 1=1 and business_id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <delete id="batchDeleteFile" parameterType="java.util.List">
        delete from uq_attachment where business_id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


</mapper>


